.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 24px;
}

.header img {
    margin: 7px 8px 7px 0
}

.css-1u8jwof-MuiButtonBase-root-MuiFab-root {
    position: fixed !important;
    border-radius: 16px !important;
}

.css-1b0ve20 {
    position: relative;
    width: 0;
    height: 0;
    left: 280px;
    bottom: 72px;

}


footer {
    width: 312px;
    height: 56px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    gap: 96px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px -8px 24px 0px rgba(0, 0, 0, 0.15);
    z-index: 1101;
    background-color: #F0F4F7;


}

footer button {
    width: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #F0F4F7;

}

footer svg {
    width: 36px;
    height: 36px;
    color: #DA0D1E;
}

footer p {
    color: #DA0D1E !important;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.button-next {
    margin-left: 16px;
    margin-bottom: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 40px;
    padding: 8px 16px 8px 24px;
    flex-shrink: 0;
    background-color: transparent;
    border: 1px solid #DA0D1E;
    cursor: pointer;

    border-radius: 100px;
}

.modal-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 641px;
    background-color: #212324;
    opacity: 0.6;
    flex-shrink: 0;
    z-index: 0;


    position: absolute;
    bottom: 160px;
}

.modal-back- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 641px;
    flex-shrink: 0;
    z-index: 0;


    position: absolute;
    bottom: 160px;
}

.modal-container {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
    padding: 24px;
    background-color: #fff;
    z-index: 100;
    position: absolute;

    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    border-radius: 8px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.modal-buttons button {
    width: 132px;
    height: 40px;
    border-radius: 100px;
    background-color: #DA0D1E;
    color: #F0F4F7;
    border: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;

}

#cancel {
    background-color: #fff;
    border: 1px solid #DA0D1E;
    color: #DA0D1E;
    box-shadow: none;
}

.fruits-list label {
    margin-bottom: 16px !important;
    color: #212324 !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.15px !important
}

.fruits-list label span {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}


.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #DA0D1E !important;
    width: 24px !important;
    height: 24px !important;
    background-image: url("../images/Rectangle\ 93.png");
    margin-right: 8px;

}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: #F0F4F7 !important;
    border-radius: 0% !important;
    margin-right: 8px !important;
}

.MuiCheckbox-root {
    background-image: url("../images/Rectangle\ 94.png");
}

/* .MuiCheckbox-root svg{

    width: 24px !important;
    height: 24px !important;

} */


.fruit-card {
    height: 72px;
    gap: 0 !important;
}

.fruit-card div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fruit-card div:first-child svg {
    width: 24px;
    height: 24px;
}

.fruit-card h2 {
    height: 24px;
    align-self: stretch;

    color: #212324;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;

    margin-bottom: 0;

}

.fruit-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.fruit-price p {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #008c21;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.fruit-price p:nth-child(2) {
    color: #6c7072;
}

.fruit-price svg {
    width: 16px !important;
    height: 16px !important;
}

.fruit-card div:nth-child(3) {
    height: 24px;
    flex: 1 0 0;

    overflow: hidden;
    color: #6c7072;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;

}

.fruit-card div:nth-child(3) svg {
    width: 24px;
    height: 24px;
}

.fruit-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 28px;
    gap: 16px;
    background-color: #F0F4F7;
    margin-left: 16px;
    margin-right: 16px;
}

.fruit-values {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 16px 12px;
    gap: 16px;

    border-radius: 8px;
    background: var(--shape, #FFF);
    /* Sombra */
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.fruit-values input {
    border: none;
    outline: none;
    width: 100%;
    height: 24px;
    flex: 1 0 0;

    color: #6C7072;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.fruit-values svg {
    width: 24px;
    height: 24px;

}

.css-2m9kme-MuiFormControl-root {
    margin: 0px !important;
    width: 264px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Poppins' !important;
    top: -15px !important;
    left: -15px !important;
    z-index: 0 !important;

}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0 !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #DA0D1E !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    max-height: 150px !important;
}

.card-selected {
    z-index: 2000;
    position: fixed;
}

.backdrop-actions-container {
    background-color: #212324;
    height: 640px;
    width: 360px;
    position: absolute;
    opacity: .6;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: end;
    visibility: hidden;
    transition: all ease-in-out .3s;
}

.actions-container- {
    height: 640px;
    width: 360px;
    position: absolute;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: end;
    visibility: hidden;
    transition: all ease-in-out 2s;
    
}

.actions-container {
    background-color: #F0F4F7;
    opacity: 1 !important;
    padding: 24px 16px 52px 16px;
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    border-radius: 8px 8px 0 0;
    z-index: 1001;
    /* height: 0px; */
    visibility: visible;
    transition: all linear .15s;
    opacity: 0 !important;
    
    
}

.actions-container button {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
}

.actions-container svg{
    width: 24px;
    height: 24px;
}

.actions-container-visible{
    visibility: visible;
    height: 72px;
    padding-bottom: 104px;
    gap: 24px;
    transition: all ease-in-out .15s;
    opacity: 1 !important;
}
.visible{
    visibility: visible;
    transition: all ease-in-out 2s;
}

.fruits-list-check{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 10px;
}


.fruits-check{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
    
}
.allFruits{
    margin-left: 0;
}

.fruits-check label{
    margin: 0 !important;
}

.fruits-list-container{
    overflow-y: scroll;
}